:root {
    --purple500: #281154;
    --purple300: #270082;
    --purple600: #1b0058;
    --red600:    #dc0000;
    --body:      #f9f6ff;
    --max-width: 1200px;
  }
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body{
      font-family:"roboto",sans-serif;
      font-weight: 300;
      line-height: 1.4;
      scroll-behavior: smooth;
  }
  header{
      background-color: var(--purple300);
      box-shadow: 5px 5px 5px rgba(11, 3, 47, 0.05);
      position: sticky;
      top: 0;
      z-index: 100;
  }
  .container{
      max-width: 1200px;
      margin: 0 auto;
     
  }
  nav{
      display: flex;
      justify-content: space-between;
      color: white;
      align-items: center;
      padding:20px;
  }
   nav ul{
      display: flex;
      list-style:none;
     gap: 20px;
  }
  nav ul li a {
      text-decoration: none;
      color: white;
      padding-bottom: 4px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.2s ease-in-out;
  }
  nav ul li a:hover {
      border-bottom: 2px solid white;
  }
  .logo1{
      font-size: 32px;
      font-weight: 600;
  }
  .tunes{
      background-image: url(images/top.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
      width: 100%;
      color: white;
      display: grid;
      place-items: center;
    text-align: center;
    scroll-margin: 50px;
  }
  .one{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 30px;
    margin:10px ;
    }
    .one h1{
      font-size: 72px;
    }
    .one h3{
      font-size: 24px;
    }
    .one p{
      width: 841px;
      height: 67px;
    }
    .music_section{
      display: grid;
      place-items: center;
      text-align: center;
      color: white;
      background-color: var(--purple500);
      scroll-margin: 50px;
    }
    .music_section h2{
      font-size: 32px;
      margin-top: 37px;
    }
    .music_section h4{
      font-size: 18px;
       width: 970px;
       height: 98px;
    }
    .button1{
        width: 183px;
        height: 55px;
        background-color:var(--red600);
        color: white;
        border: none;
        padding: 13px;
        transition: 0.2s ease-in-out;
    }
    .button1:hover{
      transition: 0.2s ease-in-out;
      opacity: 0.8;
    }
    
    .ipad{
      margin-top:-400px ;
      position: relative;
      top: 400px;
    }
    .about{
      display:grid;
      place-items: center;
      align-items: center;
      margin-top: 430px;
      scroll-margin: 50px;
    }
    .about h4{
      height: 124px;
      width: 1045px;
      font-size: 18px;
      font-weight: 300;
    }
    .button2{
      background-color: var(--purple300);
      color: white;
      width: 133px;
      height: 50px;
      margin-bottom: 50px;
      border: none;
      transition: 0.2s ease-in-out;
    }
    .button2:hover{
      transition: 0.2s ease-in-out;
      opacity: 0.8;
  }
    .video{
      background-image: url(images/bottom.png);
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 800px;
      margin-top: 59px;
      display: grid;
      align-items: center;
      place-items: center;
      color: white;
      scroll-margin: 50px;
    }
    .video .one{
      margin-top: -115px;
    }
  .card{
      display: flex;
      justify-content: center;
      align-items: center;
      margin:100px 0;
      gap: 30px;
      scroll-margin-top: 100px;
  }
  .card_content{
   display: flex;
   flex-direction: column;
   gap: 20px;
  }
  .button3{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--purple300);
      color: white;
      width: 113px;
      height: 39px;
      transition: 0.2s ease-in-out;
  }
  .button3:hover{
      transition: 0.2s ease-in-out;
      opacity: 0.8;
  }
  .upper{
      background-color:var(--purple500);
      padding: 70px;
  }
  .upper .container{
      display: flex;
      color: white;
      justify-content: space-between;
  }
  .footer_links ul{
     list-style:none;
  }
  .footer_links h3{
      font-size:24vpx;
      border-bottom: 2px solid white;
      margin-bottom: 20px;
  }
  .lower{
      background-color: var(--purple300);
      display: flex;
      justify-content: center;
      color: white;
      padding: 20px;
  }
  @media (max-width:787px) {
      nav {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
      }
      nav ul {
          flex-direction: column;
          gap: 10px;
      }
      .one h1{
          font-size: 32px;
      }
      .one h3, .music_section h3{
          font-size: 16px;
      }
      .music_section h4,.about h4 {
          font-size: 14px;
      }
      .one p,.music_section h4 ,.about h4{
          width: 90%;
          height: auto;
          max-width: 841px;
      }
      .button1, .button2, .button3{
          /* width: 50%; */
          font-size: 14px;
      }
     img{
      max-width: 100%;
      height: auto;
     }
     .mac{
      text-align: center;
      margin: 20px 0;
     }
  
     .card{
      flex-direction: column;
      align-items: center;
     }
     .upper , .container{
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
     }
     .button3 {
    margin: 0 auto;
  }
  }